.App {
  text-align: center;
}
button {
  padding: 10px;
  margin: 5px;
  color: white;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4c4b68;
}

button:disabled,
button[disabled] {
  background-color: #979797;
  cursor: not-allowed;
}

.language-buttons {
  margin: 30px;
}

#output {
  background-color: #9a9a9a;
  padding: 10px;
  width: 100%;
  margin-top: 20px;
  line-height: 30px;
}